<div class="content" role="main">

	<div class="card highlight-card card-small">

		<span>Game Manager</span>

	</div>

	<p>This is a simplified game manageent application implemented as a Micro Frontend.</p>
	<p>The GitHub repo can be found <a href="https://github.com/EkkuJ/micro-frontend-application">here</a>.</p>


	<div *ngIf="!gameChosen; else gameView">
		<div class="banner">
			<h2>Choose a game to inspect</h2>
		</div>

		<div class="card-container">
			<button class="card" (click)="chooseGame('alien-abyss')">
				<h3>Alien Abyss</h3>
			</button>
			<button class="card" (click)="chooseGame('popsicle-dash')">
				<h3>Popsicle Dash</h3>
			</button>
			<button class="card" (click)="chooseGame('almond-roast')">
				<h3>Almond Roast</h3>
			</button>
		</div>
	</div>

	<ng-template #gameView>
		<div class="container game-view">
			<div class="row">
				<div class="col-9">
					<div *ngIf="game ==='alien-abyss'" class="game-dashboard">
						<alien-abyss></alien-abyss>
					</div>
					<div *ngIf="game ==='popsicle-dash'" class="game-dashboard">
						<popsicle-dash></popsicle-dash>
					</div>
					<div *ngIf="game ==='almond-roast'" class="game-dashboard">
						<almond-roast></almond-roast>
					</div>
				</div>
				<div class="container col-2 recommendations">
					<div class="row">
						<button class="card" (click)="chooseGame('alien-abyss')">
							<h4>Alien Abyss</h4>
						</button>
					</div>
					<div class="row">
						<button class="card" (click)="chooseGame('popsicle-dash')">
							<h4>Popsicle Dash</h4>
						</button>
					</div>
					<div class="row">
						<button class="card" (click)="chooseGame('almond-roast')">
							<h4>Almond Roast</h4>
						</button>
					</div>
				</div>
			</div>
		</div>
	</ng-template>



</div>